<section>
<br>
<div class="container">
<h1>Ubicación y Contacto</h1><br>
<div class="row px-2">
<div class="col-md-6 col-lg-4 col-xs-12 col-sm-12 card">
    <div class="card-body h4">
        <div class="card-text">
            <p>Teléfono:</p>
            <p class="lead d-flex justify-content-between"> +123 456 789 <a href="tel:+123456789"><i
                        class="bi bi-telephone fs-4 text-dark d-sm-none"></i></a></p>
            <hr>
        </div>
        <div class="card-text">
            <p>Celular:</p>
            <p class="lead d-flex justify-content-between "> +123 456 789 <a
                    href="https://wa.me/123456789"><i class="bi bi-whatsapp fs-4 text-dark"></i></a></p>
            <hr>
        </div>
        <div class="card-text">
            <p>Correo Electrónico: </p>
            <p class="text-wrap lead d-flex justify-content-between"> hotelcopodenieve98&#64;gmail.com <a
                    href="mailto:info@hotelreservations.com"><i
                        class="bi bi-envelope lead fs-4 text-dark"></i></a> </p>
            <hr>
        </div>
        <div class="card-text">
            <p>Dirección: </p>
            <p class="lead d-flex justify-content-between">Av. Amazonas N23-56 y Veintimilla <a
                    href="https://www.google.com/maps/"><i class="bi bi-map lead fs-4 text-dark"></i></a>
            </p>
        </div>
    </div>
</div>
<div class="col">
    <iframe class="card w-100 h-100"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.4483519805597!2d-78.49528172469167!3d-0.2024739999542627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a14c1591283%3A0xede05d0d0b545e56!2sPlaza%20Veintimilla!5e0!3m2!1ses-419!2sec!4v1706489451244!5m2!1ses-419!2sec">
    </iframe>
</div>
</div>
<br>
</div>
</section>



