<div class="container">
    <h1>Sobre nosotros</h1>

    <p class="lead">¡Bienvenidos al Hotel Copo de Nieve, donde la elegancia se combina con más de dos décadas de experiencia en la hermosa ciudad de Quito, Ecuador! Nos enorgullece ofrecer a nuestros huéspedes una hospitalidad excepcional y personalizada.</p>

    <div>
        <h1 class="display-6">Trayectoria y Experiencia</h1>
        <p class="lead">Somos más que un hotel, somos una tradición familiar que ha perdurado por más de 20 años. La administración continua de nuestra familia asegura una conexión auténtica con cada aspecto de su estancia. Nuestra sólida experiencia en la industria hotelera es la base sobre la cual construimos memorablemente cada experiencia de nuestros huéspedes.</p>
    </div>

    <div>
        <h2 class="display-6">Características de las Habitaciones</h2>
        <p class="lead">Desde habitaciones estándar hasta suites lujosas, en Hotel Reservations ofrecemos una variedad de opciones que se adaptan a todas las preferencias. Cada una de nuestras habitaciones está cuidadosamente equipada con todas las comodidades necesarias para garantizar una estadía cómoda y placentera.</p>
    </div>

    <p class="lead">En el Hotel Copo de nieve, no solo ofrecemos un lugar para alojarse; ofrecemos una experiencia inolvidable. ¡Esperamos darle la bienvenida pronto a nuestro hogar lejos de casa!</p>
</div>