.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
    z-index: 9999; /* Make sure it's on top of other elements */
}
::ng-deep svg.p-progress-spinner-svg circle {
    stroke: #ffffff !important; /* Replace with your desired color */
}

/*Estilo para el boton de detalles*/
.btn-detalles{
    text-decoration: none;
    margin: 0;
    line-height: 0;
    padding: 0;
    color: rgb(37, 37, 96);
}
.btn-detalles:hover{
    text-decoration: underline;
}

/*para los detalles del boton ir al inicio*/
.inicio {
    background-color: #003068;
    border-radius: 5px;
    border-color: #003068;
    height: 40px;
}
.inicio:hover {
    background: #004798;
}