<footer class="footer bg-body-tertiary mt-auto py-3 bg-light lead">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Contacto</h3>
          <p class="fs-6"><strong>Dirección:</strong><br> Av. Amazonas N23-56 y Veintimilla, Quito - Ecuador<br></p>
          <p class="fs-6"><strong>Teléfono:</strong><br> 123-456-7890<br></p>
          <p class="fs-6"><strong>Email:</strong><br> hotelcopodenieve98&#64;gmail.com<br></p>
        </div>
        <div class="col-md-6">
          <h3>Redes Sociales</h3>
          <ul class="list-unstyled fs-6">
            <li><a href="https://www.facebook.com/" class="text-decoration-none text-reset"><i class="fab fa-facebook-square py-3" ></i> Facebook</a></li>
            <li><a href="https://www.twitter.com/" class="text-decoration-none text-reset"><i class="fab fa-twitter-square py-3"></i> Twitter</a></li>
            <li><a href="https://www.instagram.com/" class="text-decoration-none text-reset" ><i class="fab fa-instagram-square py-3"></i> Instagram</a></li>
            <li><a href="https://wa.link/tpp6rf" class="text-decoration-none text-reset" ><i class="fab fa-whatsapp-square py-3"></i> WhatsApp</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="text-center">&copy; 2024 Hotel Copo de Nieve. Todos los derechos reservados.</p>
    </div>
</footer>
  